@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>

@{
    bool priceIncrease = ViewBag.Quote.NetChange > 0;
    bool priceDecrease = ViewBag.Quote.NetChange < 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3 id="symbol">@ViewBag.Profile.ExchangeName (@ViewBag.Profile.Symbol)</h3>
            <div class="row">
                <h1 class="col-md-3 col-lg-3" id="price"><b>@ViewBag.Quote.LastPrice</b></h1>
                <h3 class="col-md-9 col-lg-9 @(priceIncrease ? "green" : priceDecrease ? "red" : "")" style="margin-top: 30px;">
                    @(priceIncrease ? "+" : "")@string.Format("{0:n2}", ViewBag.Quote.NetChange) 
                    (@(priceIncrease ? "+" : "")@string.Format("{0:n2}", ViewBag.Quote.PercentChange)%)
                </h3>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="@ViewBag.Chart.ImageUrl" />
        </div>
    </div>
    
    <div class="row" id="profile-info">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-keydata" data-toggle="tab">Key Data</a>
            </li>
            <li>
                <a href="#tab-profile" data-toggle="tab">Profile</a>
            </li>
            <li>
                <a href="#tab-news" data-toggle="tab">News</a>
            </li>
            <li>
                <a href="#tab-earnings" data-toggle="tab">Earnings</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-keydata">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
                    Key Data
                </div>
            </div>
            <div class="tab-pane fade" id="tab-profile">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
                    <h4>Company summary</h4>
                    @Html.Raw(ViewBag.Profile.BusinessSummary)
                </div>
            </div>
            <div class="tab-pane fade" id="tab-news">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
                    @if (ViewBag.NewsArticles != null)
                    {
                        foreach (var article in ViewBag.NewsArticles)
                        {
                            <div style="margin: 15px; margin-bottom: 20px;">
            
                                @Html.ActionLink((string)article.Headline, "News", "News", new { newsID = article.NewsID }, new { @class = "h4"})
                                <p>@article.Body</p>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="tab-earnings">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
                    Earnings
                </div>
            </div>
        </div>
    </div>
</div>